.orders-component {
    margin-top: 5px;
    padding: 30px;
    color: white;

    .clear-orders {
        margin-top: 10px;
        margin-left: auto;
        display: block;
        padding: 10px 20px;
        border: none;
        color: #ffffff;
        font-size: 16px;
        background-color: #cc0000;
    }
}