.order-component {
    margin: 20px 0 0 0;
    padding: 20px;
    border: solid 1px #ffffff;
    font-size: 17px;
    color:white;
    width: 25%;

    h3 {
        font-size: 30px;
        margin: 0;
        padding: 0;
        color: white;
    }

    button {
        margin-top: 5px;
        display: inline-block;
        padding: 10px 20px;
        border: none;
        font-size: 14px;
    }
    .button-status {
        color: #333355;
        background-color: #e5a701;
    }

    .button-remove {
        color: rgb(0, 0, 0);
        background-color: #e5a701;
        margin-left: 5px;
        
    }
}
